<div class="section gf-form-group">
  <div class="gf-form">
    <label class="gf-form-label width-8">Tile Server URL</label>
    <input type="text" class="gf-form-input width-30" ng-model="ctrl.panel.tileServerUrl" ng-change="ctrl.editChanged()" ng-model-onblur>
  </div>
  <div class="gf-form">
    <label class="gf-form-label width-8">Attribution</label>
    <input type="text" class="gf-form-input width-30" ng-model="ctrl.panel.tileServerAttribution" ng-change="ctrl.editChanged()" ng-model-onblur>
  </div>
  <div class="gf-form">
    <label class="gf-form-label width-8">Subdomains</label>
    <input type="text" class="gf-form-input width-30" ng-model="ctrl.panel.tileServerSubdomains" ng-change="ctrl.editChanged()" ng-model-onblur>
  </div>
</div>
